<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Games</title>
    <link rel="stylesheet" href="../static/css/WikiPage.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
    {{ template "header" }}

    <div class="main-content">
        <h1 class="title-top">Wiki <span class="red">G</span>ames</h1>
        <div class="cardContainer">

            <div class="card">
                <div class="content">
                </div>
            </div>

        </div>
    </div>

    {{ template "footer" }}

    <script type="module" src="../static/js/WikiPage.js"></script>
</body>
</html>
